$color1: red;
$color2: green;
$color3: white;

@font-face {
    font-family: "Zefani";
    src: url("fonts/zefani.otf");
}

body {
    text-align: center;
    width : 80%;
    margin: 0;
    font-family: "OrkneyRegular", arial;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background: #6700ee;
    a {
        color: $color3;
    }
}

.logo {
    color: #00f7ff;
    font-family: "Zefani";
    font-size: xx-large;
    justify-content: center;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    
    ul {
        display: flex;

        text-align: center;
        

        a {
            display: block;
            padding: 0 2em;
            margin: 0;
        }
    }
}

.social-header, .hero-design{
    display: none;
}

.hero {
    background-image: url("../img/me2.JPG");
    background-color: #6e00ff;
    background-position: center;
    background-repeat:no-repeat;
    color: white;
    text-align: center;
    height: 400px;
    width: 100%;
    padding: 4em;
}

.meet {
    font-family: "Zefani";
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #a18c9a;
    span {
        margin-right: .5em;
    }
}

.image_container {
    width: fit-content;
}

.project_table_container {
    align-self: center;
}

#clubs {
    text-align: left;
}